<?php

define('BASE_URL',      '/tours/%s/');

$preloaded_assets = array(
  '/assets/css/global.min.css',
  '/assets/img/3dvt-logo.png',
  '/assets/img/play.png',
  '/assets/img/pause.png',
  '/assets/img/fullscreen.png',
  '/assets/img/windowed.png',
  '/assets/img/expand.png',
  '/assets/img/collapse.png',
  '/assets/img/up.png',
  '/assets/img/down.png',
  '/assets/img/right.png',
  '/assets/img/left.png',
  '/assets/img/plus.png',
  '/assets/img/minus.png',
  '/assets/js/build/app.min.js',
  '/assets/img/3dvt-logo-watermark.png',
  '/assets/img/link.png'
);

$manifest_template = 'CACHE MANIFEST
# %VERSION%

# Explicitly cached master entries.
CACHE:
%ENTRIES%

FALLBACK:
/ /offline.html';
